Welcome to my math program.

What would you like to do? (addition, subtraction, multiplication, division)

<form method="post" action="math_type">  <!-- sets up the form to collect code type-->
	<input type="text" name="math_type">
	<br>
	<input type="submit"> 
</form>	